:root {
    --system-font: system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --border: 1rem;
}

html, body {
    height: 100%;
    font-family: var(--system-font);
}

h1 {
    text-align: center;
}

div#content {
    min-height: 100%;
    max-width: 1080px;
    background: white;
    margin: 0 auto;
    padding: var(--border);
    box-sizing: border-box;
}

div#game-board {
    width: 100%;
    background: black;
    border: 1px solid black;
    box-sizing: border-box;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

div#game-board div {
    min-height: 4rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.space {
    cursor: pointer;
}