:root {
    --system-font: system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --border: 1rem;
}

* {
    font-family: var(--system-font);
}

body {
    margin: var(--border);
    background: black;
    height: calc(100vh - calc(var(--border) * 2));
}

div#content {
    height: calc(100% - calc(var(--border) * 2));
    background: white;
    padding: var(--border);
    box-sizing: border-box;
}

div#game-board {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: black;
    border: 1px solid black;
}

div#game-board div {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}